html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background-color: #282D35;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  padding: 0 20px;
}

img {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.5em;
  color: #61DAFB;
}

.react-logo {
  width: 40px;
}

.header-text {
  color: #DEEBF8;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: white;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li::marker {
  color: #61DAFB;
  font-size: 1.5em;
}
